$block: navbar;

.#{$block} {
	position: relative;
	padding-top: spacing(md);

	&:before {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 150%;
		background: linear-gradient(0deg,rgba($black, 0) 0%, rgba($crust, .95) 100%);
		content: '';
		z-index: -1;
	}

	.nav-link {
		@include focus-state;
		color: $rosewater;
		font-family: $font-family-secondary;
		font-weight: fw(medium);

		&:hover,
		&:focus,
		&.active {
			color: $mauve;
		}
	}

	&-toggler {
		@include focus-state;
		background-color: $rosewater;
        
		&:hover,
		&:focus {
			transition: box-shadow 0.1s linear;
			border-radius: $border-radius-sm;
			outline: 0;
			box-shadow: $focus-ring-box-shadow;
		}
	}

	.button {
		@include focus-state;
		position: absolute;
		top: spacing(md);
		right: $gutter;
		border: 0;
		background-color: transparent;

		&:hover,
		&:focus {
			border: 0;

			svg {
				fill: $mauve;
			}
		}
	}

	.me-auto {
		margin-top: spacing(sm);
	}
}